$header-background-light: #e0e0e0;
$toggle-background-light: #c4c4c4;
$toggle-button-light: white;
$logo-font-light: #363636;
$links-font-light: #747474;
$links-hover-light: #b4b4b4;
$links-border-light: gray;

$header-background-dark: rgb(0, 0, 0);
$toggle-background-dark: #ffffff;
$toggle-button-dark: #000000;
$logo-font-dark: #ffffff;
$links-font-dark: #c4c4c4;
$links-hover-dark: #ffffff;
$links-border-dark: rgb(255, 255, 255);

$S-block-background: rgba(0, 255, 0, 0.8);
$P-block-background: rgba(255, 255, 0, 0.8);
$D-block-background: rgba(255, 0, 0, 0.8);
$F-block-background: rgba(0, 0, 255, 0.8);
